services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.103.0
    command: ["--config=/etc/otelcol/config.yaml"]
    ports:
      - "4317:4317"
      - "4318:4318"
      - "8889:8889"
    volumes:
      - "../otel/collector-config.yml:/etc/otelcol/config.yaml:ro"
    healthcheck:
      test: ["CMD", "/otelcol-contrib", "--version"]
      interval: 2s
      timeout: 2s
      retries: 12
